fastapi
uvicorn
supabase
langchain
langchain-core
langchain-openai
dashscope
python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pydantic
starlette
sse-starlette
pandas
fpdf
langgraph
langchain-mcp-adapters
transformers
torch
Pillow
